.siguiendo {
  padding-right: 12px;
  padding-left: 9px;
  background-color: #96ce00;
  border-radius: 25px;
  cursor: pointer;

}

.no-siguiendo{
  cursor: pointer;
  transition: 0.3s ease-in-out;
  padding: 2px;
  padding-right: 3px;
  border-radius: 3px;
}

.no-siguiendo:hover{
  background-color: lightgray;
}
