
<div class="main-container">
  <app-alert-components [errorMessage]="errorMessage" [successMessage]="successMessage"></app-alert-components>

  <div class="login-container">
    <div class="login-titulo">
      <h1>¡Te damos la bienvenida a tu comunidad Freelancer!</h1>
    </div>
    <form [formGroup]="loginForm" (submit)="onLogin()">
      <div class="input-container">
        <label for="">Email:</label>
        <input type="text" placeholder="Email" formControlName="email">
    </div>
    <div class="input-container">
      <label  for="">Contraseña:</label>
      <input [type]="isPasswordShown ? 'text' : 'password'" placeholder="Contraseña" formControlName="password">
      <app-show-password (toggle)="togglePassword()" [inputContext]="'show-password'"></app-show-password>
    </div>
    <div class="actions-container">
      <a href="#" type="button" class="forgot-password" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal">
        ¿Has olvidado tu contraseña?
      </a>
      <div class="remember-me-container">
        <input type="checkbox" id="rememberMe" formControlName="recordado">
        <label for="rememberMe">Recordarme</label>
      </div>

    </div>
      <button type="submit" class="login-btn" [disabled]="!loginForm.valid">Inicia sesión</button>
      <div class="separator">
          <hr> o <hr>
      </div>
      <button type="button" class="register-btn" (click)="toggleRegistro()">Registrarse</button>

    </form>

  </div>
  <div class="imagen-container">

    <img src="assets/freesocial.png" class="overlay-img" alt="">
  </div>
</div>
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true" #forgotPasswordModalRef>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="forgotPasswordModalLabel">¿Has olvidado tu contraseña?</h5>
      </div>
      <div class="modal-body">
        <div class="form">
          <div class="mb-3" *ngIf="!mostrarInputContrasena && mostrarInputEmail">
            <input type="text" [(ngModel)]="email" placeholder="Email o teléfono">
          </div>
          <div>
            <input *ngIf="mostrarInputVerificarCodigo" type="text" [(ngModel)]="codigoVerificacion" (ngModelChange)="onChangeToken($event)" placeholder="Verificar Código">
          </div>
          <div *ngIf="mostrarInputContrasena" class="d-flex flex-column gap-2 mb-3">
            <input type="password" [(ngModel)]="nuevaContrasena" placeholder="Nueva contraseña">
            <input type="password" [(ngModel)]="validarContrasena" placeholder="Validar contraseña">
          </div>
          <div class="w-100 d-flex flex-column gap-3 justify-content-center align-items-center">
            <div>
              <p>Enviaremos un código de verificación a este email si coincide con una cuenta de FreeSocial existente.</p>
            </div>
            <div *ngIf="loading" class="spinner-border text-primary" role="status">
              <span class="visually-hidden">Cargando...</span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex gap-2 justify-content-center">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        <button *ngIf="!mostrarBotonActualizar" type="button" class="btn btn-primary" (click)="enviarCodigo()">Enviar Codigo</button>

        <button *ngIf="mostrarBotonActualizar" type="button" class="btn btn-primary" (click)="actualizarContrasena()">Actualizar</button>

      </div>
    </div>
  </div>

</div>
  <div class="registro-container" *ngIf="mostrarRegistro" @caidaConRebote>
    <div class="arrow">
      <em class="bi bi-arrow-left" (click)="inicio()"></em>
    </div>
    <div class="contenido-container" @slideOut *ngIf="showContent">


      <div class="bienvenida-info">
        <h2>Bienvenido a FreeSocial</h2>
        <p>FreeSocial es una plataforma diseñada para conectar profesionales con negocios. Ofrecemos un espacio para que puedas encontrar o prestar servicios. ¿A qué esperas? amplía tu red de contactos profesionales y haz crecer en tu carrera.</p>
      </div>

      <!-- Div para las opciones de búsqueda -->
      <div class="busqueda-opciones">
        <h3>¿Qué estás buscando?</h3>
        <div class="options">
          <label>
            <input type="radio" name="buscar-opcion" value="contratar" (change)="onRoleChange(3)">
            Solicitar Servicios Profesionales
          </label>
          <label>
            <input type="radio" name="buscar-opcion" value="ofrecer" (change)="onRoleChange(2)">
            Ofrecer Mis Habilidades
          </label>
        </div>
      </div>
      <div class="pulse-background" *ngIf="selectedRoleId != null">
        <em class="bi bi-arrow-right" (click)="onNextClicked()"></em>
      </div>

    </div>
    <div *ngIf="mostrarDatosPersonales" class="datos-personales" @slideInRight>
      <h4 style="color: rgba(135, 206, 235, 0.7); text-align: left;">Datos Personales</h4>
      <form class="formulario">
        <div class="form-row">
          <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" [(ngModel)]="usuarioRegistro.datosPersonales.nombre">
          </div>
          <div class="form-group">
            <label for="apellidos">Apellidos:</label>
            <input type="text" id="apellidos" name="apellidos" [(ngModel)]="usuarioRegistro.datosPersonales.apellidos">
          </div>
        </div>

        <!-- Repite el patrón para cada fila -->

        <div class="form-row">
          <div class="form-group">
            <label for="ciudad">Ciudad:</label>
            <input type="text" id="ciudad" name="ciudad" [(ngModel)]="usuarioRegistro.datosPersonales.ciudad" (input)="filtrarProvincias()">
            <div class="conteiner-provincias" *ngIf="provinciasFiltradas.length > 0">
              <div class="lista-provincias" *ngFor="let provincia of provinciasFiltradas" (click)="seleccionarProvincia(provincia)">
                <p>{{ provincia.ciudades }}</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" [(ngModel)]="usuarioRegistro.email">
          </div>
        </div>

        <!-- Sigue agrupando los campos restantes de la misma manera -->

        <div class="form-row">
          <div class="form-group">
            <label for="telefono">Teléfono:</label>
            <input type="tel" id="telefono" name="telefono" [(ngModel)]="usuarioRegistro.datosPersonales.telefono">
          </div>
          <div class="form-group ">
            <label for="fechaNacimiento">Fecha de Nacimiento:</label>
            <input type="date" id="fechaNacimiento" name="fechaNacimiento" [(ngModel)]="usuarioRegistro.datosPersonales.fechaNacimiento">
          </div>
        </div>

        <!-- Para la contraseña y la confirmación de la contraseña -->
        <div class="form-row">
          <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" [type]="isPasswordVisible ? 'text' : 'password'" class="form-control input-container" id="password" #passwordInput name="password" [(ngModel)]="usuarioRegistro.password" [ngClass]="{'error-border': !contrasenasValidas}">
            <app-show-password [inputContext]="'contexto1'" (toggle)="isPasswordVisible = !isPasswordVisible"></app-show-password>
          </div>
          <div class="form-group">
            <label for="confirmPassword">Validar Contraseña:</label>
            <input type="password" [type]="isConfirmPasswordVisible ? 'text' : 'password'" class="form-control input-container" id="confirmPassword" #confirmPasswordInput name="confirmPassword" [(ngModel)]="confirmPassword" [ngClass]="{'error-border': !contrasenasValidas}">
            <app-show-password [inputContext]="'contexto1'" (toggle)="isConfirmPasswordVisible = !isConfirmPasswordVisible"></app-show-password>
          </div>
        </div>

      </form>
      <div *ngIf="!contrasenasValidas" class="error-message">
        Las contraseñas no coinciden
      </div>
      <div class="arrow-datos-personales">
        <div class="pulse-background-datosPersonales "  *ngIf="(mostrarDatosPersonales && isFormValid())">
          <button class="" (click)="onNextClicked()">Registrarse</button>
        </div>
      </div>
    </div>

     <div class="wave-container">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 24 150 28" preserveAspectRatio="none" style="width:100%;height:100%;">
        <defs>
            <path id="gentle-wave" d="M-160 44c30 0
            58-18 88-18s
            58 18 88 18
            58-18 88-18
            58 18 88 18
            v44h-352z" />
        </defs>
        <g class="parallax">
            <use xlink:href="#gentle-wave" x="50" y="3" fill="rgba(135,206,235,0.7)" />
            <use xlink:href="#gentle-wave" x="50" y="0" fill="rgba(135,206,235,0.5)" />
            <use xlink:href="#gentle-wave" x="50" y="9" fill="#87ceeb" />
            <use xlink:href="#gentle-wave" x="50" y="6" fill="rgba(135,206,235,0.3)" />
        </g>
    </svg>
    </div>
  </div>

