.show-password {
  position: absolute;
  right: 10px;
  top: 65%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #003344;
  font-weight: bold;
}


.clase-para-contexto-1 {
  position: relative;
  right: -83%;
  top: -44%;
  cursor: pointer;
  color: #003344;
  font-weight: bold;
  font-size: 14px;
}



